$bck-color: rgba(28, 30, 31, 0.959);

.photos {
  display: flex;
  width: 85%;
  margin: 40px auto;
  box-sizing: border-box;
}

.result-grid {
  width: 70%;
  margin: 20px auto;
  columns: 3;
  column-gap: 35px;
  background-color: $bck-color;
  padding: 20px 40px 20px 20px;
  border-radius: 10px;
  .box {
    width: 100%;
    margin: 0 0 10px;
    padding: 10px;
    overflow: hidden;
    break-inside: avoid;
    a img {
      max-width: 100%;
    }
    p {
      margin-top: 5px;
      color: white;
    }
  }
}

@media (max-width: 1400px) {
  .result-grid {
    columns: 2;
    width: calc(70% -40px);
    box-sizing: border-box;
  }
}

@media (max-width: 1200px) {
  .result-grid {
    columns: 1;
  }
}

@media (max-width: 700px) {
  .photos {
    display: flex;
    flex-direction: column;
  }
  .result-grid {
    width: 99%;
    margin: 10px auto;
    column-gap: 10px;
    padding: 10px 28px 10px 10px;
  }
}
