@mixin button-input-styles {
  padding: 15px 20px;
  border: none;
  box-sizing: border-box;
  outline: none;
}

$aquaish-color: rgba(65, 191, 223, 0.856);

.search {
  width: 82%;
  margin: 60px auto 20px auto;
  box-sizing: border-box;
  display: flex;

  input {
    @include button-input-styles();
    width: 76%;
    background-color: transparent;
    border-bottom: 2px rgba(84, 84, 94, 0.678) solid;
    margin-right: 66px;
    &:hover {
      border-bottom: 2px $aquaish-color solid;
    }
  }
  button {
    @include button-input-styles();
    width: 90px;
    border-radius: 4px;
    background-color: rgba(65, 191, 223, 0.719);
    color: white;
    font-weight: bold;
    letter-spacing: 1px;

    &:hover {
      cursor: pointer;
      background-color: $aquaish-color;
    }
  }
}

@media (max-width: 1305px) {
  .search {
    input {
      margin-right: 50px;
    }
  }
}

@media (max-width: 1220px) {
  .search {
    input {
      margin-right: 40px;
    }
  }
}

@media (max-width: 1170px) {
  .search {
    display: flex;
    flex-direction: column;
    button {
      margin-top: 15px;
    }
  }
}

@media (max-width: 700px) {
  .search {
    display: flex;
    flex-direction: column;
    input {
      width: 95%;
    }
  }
}
